*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar{
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 50px;
  width: 100px;
}
.logo{
  background-image: url("logo1.png") ;
  background-size: cover;
  color: #0f1111;
  height: 50px;
  width: 100px;
}
.border{
  border: 1.5px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}
.add-first{
  color: #cccccc;
  font-size: 0.8rem;
  margin-left:15px ;
}
.add-second{
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon{
  display: flex;
  align-items: center;
}
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover{
  border: 2px solid orange;
}
span{
  font-size: 0.7rem;

}
.nav-sec{
  font-size: 0.85rem;
  font-weight: 700;
}

.nav-cart i{
  font-size:30px ;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panelops p{
    display: inline;
    margin-left: 15px;
}
.panelops{
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}
.main{
  background-image: url("main.jpg");
  background-size: cover;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.main-msg{
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 90%;
  margin-bottom: 30px;
  

}
.main-msg a{
  color: #007185;
}
.shop-section{
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(rgb(237, 191, 198), rgb(211, 179, 211));
}
.box{
  
  height:400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top:15px ;

}
.box-img{
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p{
  color: #007185;
}
/* Footer */
.back-option {
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .5rem;
  font-weight: bold;
  color: white;
  background-color: #37475A;
}

.footer-links {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  background-color: #232F3E;
  color: white;
}

.footer-links ul {
  margin-top: 3rem;
}

.footer-links ul p {
  font-weight: bold;
}

.footer-links ul a {
  display: block;
  font-size: .7rem;
  color: #dddddd;
  margin-top: 1rem;
  cursor: pointer;
}

.footer-links ul a:hover {
  text-decoration: underline;
}

.country-info {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232F3E;
  color: white;
  border-top: 0.5px solid #84868878;
}

.country-info .logo img {
  width: 50px;
}

.country-info .options {
  display: flex;
  gap: .5rem;
  margin-left: 3rem;
}

.country-info .options select {
  font-size: .5rem;
  text-decoration: none;
  color: #cccccc;
  background: transparent;
  border: 1px solid #848688;
  border-radius: 3px;
  padding: .5rem;
}

.policies {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .5rem;
  color: white;
  background-color: #131A22;
}

.pages a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;

}

/* Small Devices */
@media screen and (max-width: 900px) {
  :root {
      font-size: 2vw;
  }

  /* Header  */
  nav {
      height: 5vw;
  }

  .nav-logo img {
      width: 7vw;
  }

  .nav-center {
      height: 4vw;
  }

  .search-dropdown {
      width: 7vw;
  }

  .search-box {
      width: 1vw;
  }

  .search-icon i {
      padding: .5rem .5rem;
  }

  .flag {
      width: 2vw;
  }

  .cart-logo {
      width: 3vw;
  }

  .nav-options {
      height: 5vw;
  }

  /* Main */
  .carousel {
      height: 30vw;
  }

  .arrow i {
      height: 4vw;
  }


  .item-card {
      height: 25vw;
      flex: 1 0 20vw;
      font-size: .5rem;
  }

  .item-card img {
      height: 14vw;
  }

  /* Footer */
  .back-option {
      height: 5vw;
  }

  .footer-links {
      height: 40vw;
  }

  .country-info .logo img {
      width: 7vw;
  }

  .policies {
      height: 8vw;
  }
}